<table width="1300" border="0" cellspacing="5" cellpadding="5" align="center">
    <tbody>
        <tr>
            <td><span breadcrumb></span></td>
        </tr>
        <tr>
            <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" background="lib/img/mocks/bg1.png">
                    <tbody>
                        <tr>
                            <td width="25%" height="71" align="left">
                                <h3><strong>Store</strong></h3></td>
                            <td width="24%" align="right" valign="bottom"><a class="dark button" href="#">Shop Store</a></td>
                            <td width="51%" rowspan="3" valign="top">
                                <table width="100%" height="229" border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td height="210"><img src="/lib/img/mocks/managerbanner.png" width="672" height="210" alt="" /></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table width="100%" border="0" cellspacing="5" cellpadding="5">
                                                    <tbody>
                                                        <tr>
                                                            <td width="26%"><img src="/lib/img/mocks/bgepickbanner.png" width="177" height="157" alt="" /></td>
                                                            <td width="74%" align="left" valign="bottom">Met RX
                                                                <br>100% UltraMyosin Whey Isolate</td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" valign="middle"><img src="/lib/img/mocks/whey.png" width="158" height="166" alt="" /></td>
                                                            <td width="74%">
                                                                <p>
                                                                    <br> - 30 Grams of Whey Protien featuring Pure Premium Whey Isolate</p>
                                                                <p>- Only 130 Calories</p>
                                                                <p>- 1 Gram of Fat &amp; Less then 1 Gram of Sugar</p>
                                                                <p><a class="dark button" href="#">View Product</a></p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td height="93" align="center">
                                <select name="select" id="select">
                                    <option value="1">Shop by Brand</option>
                                    <option value="2">Brand Name</option>
                                </select>
                            </td>
                            <td align="center">
                                <select name="select2" id="select2">
                                    <option value="1">Shop by Category</option>
                                    <option value="2">Category Name</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><img src="lib/img/mocks/carosel1.png" width="650" height="406" alt="" /></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" border="0" cellspacing="5" cellpadding="5">
                    <tbody>
                        <tr>
                            <td align="center">
                                <h1><strong>Featured Products</strong></h1></td>
                        </tr>
                        <tr>
                            <td align="center"><img src="lib/img/mocks/carousel2.png" width="1269" height="403" alt="" /></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td height="220" background="lib/img/mocks/bg2.png" align="center" valign="middle"><img src="lib/img/mocks/banner2.png" width="651" height="119" alt="" /></td>
        </tr>
        <tr>
            <td align="center" background="lib/img/mocks/bg4.png"><img src="lib/img/mocks/carousel3.png" width="1289" height="595" alt="" /></td>
        </tr>
        <tr>
            <td height="160" align="center" valign="middle" background="lib/img/mocks/bg5.png"><img src="lib/img/mocks/center_buttons.png" width="1267" height="127" alt="" /></td>
        </tr>
        <tr>
            <td align="center" background="lib/img/mocks/bg6.png"><img src="lib/img/mocks/additionalservices.png" width="1291" height="507" alt="" /></td>
        </tr>
        <tr>
            <td align="center"><img src="lib/img/mocks/whyeuropa.png" width="1323" height="759" alt="" /></td>
        </tr>
        <tr>
            <td>
                <table width="100%" border="0" cellspacing="5" cellpadding="5" background="lib/img/mocks/bg7.png">
                    <tbody>
                        <tr>
                            <td width="18%"><img src="lib/img/mocks/blogtitle.png" width="233" height="269" alt="" /></td>
                            <td width="82%" align="right" valign="middle"><a class="dark button" href="#"> Visit Blog </a></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <table width="100%" border="0" cellspacing="5" cellpadding="5">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table width="100%" height="309" border="0" cellpadding="5" cellspacing="5">
                                                    <tbody>
                                                        <tr>
                                                            <td><img src="lib/img/mocks/blog1.png" alt="" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>03/03/15 Tammy</td>
                                                        </tr>
                                                        <tr>
                                                            <td height="70" valign="top">
                                                                <h5><strong>Chocolate and Peanutbutter Brownies with Coconutter sweet spread</strong></h5></td>
                                                        </tr>
                                                        <tr>
                                                            <td valign="top">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td>
                                                <table width="100%" height="309" border="0" cellpadding="5" cellspacing="5">
                                                    <tbody>
                                                        <tr>
                                                            <td><img src="lib/img/mocks/blog2.png"  alt="" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>03/03/15 Tammy</td>
                                                        </tr>
                                                        <tr>
                                                            <td height="70" valign="top">
                                                                <h5><strong>To Move Forward, Go Back to the Basics</strong></h5></td>
                                                        </tr>
                                                        <tr>
                                                            <td valign="top">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td>
                                                <table width="100%" height="309" border="0" cellpadding="5" cellspacing="5">
                                                    <tbody>
                                                        <tr>
                                                            <td><img src="lib/img/mocks/blog3.png"  alt="" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>03/03/15 Tammy</td>
                                                        </tr>
                                                        <tr>
                                                            <td height="70" valign="top">
                                                                <h5><strong>Gain a New Perspective for your inventory</strong></h5></td>
                                                        </tr>
                                                        <tr>
                                                            <td valign="top">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td><img src="lib/img/mocks/eventsbanner.png" width="1323" height="264" alt=""/></td>
        </tr>
        <tr>
          <td height="437" align="center" background="lib/img/mocks/bg8.png"><table width="77%" border="0" cellspacing="10" cellpadding="10">
            <tbody>
              <tr>
                <td><img src="lib/img/mocks/event1.png" width="359" height="252" alt=""/></td>
                <td><img src="lib/img/mocks/event2.png" width="359" height="252" alt=""/></td>
                <td><img src="lib/img/mocks/event3.png" width="359" height="252" alt=""/></td>
              </tr>
            </tbody>
          </table></td>
        </tr>
        <tr>
          <td height="304" align="center"><table width="100%" border="0" cellspacing="5" cellpadding="5">
            <tbody>
              <tr>
                <td><img src="lib/img/mocks/specialBanner.png" width="248" height="150" alt=""/></td>
                <td><img src="lib/img/mocks/specialBanner.png" width="248" height="150" alt=""/></td>
                <td><img src="lib/img/mocks/specialBanner.png" width="248" height="150" alt=""/></td>
                <td><img src="lib/img/mocks/specialBanner.png" width="248" height="150" alt=""/></td>
                <td><img src="lib/img/mocks/specialBanner.png" width="248" height="150" alt=""/></td>
              </tr>
            </tbody>
          </table></td>
        </tr>
        <tr>
          <td><img src="lib/img/mocks/footer.png" width="1315" height="409" alt=""/></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
    </tbody>
</table>