<!DOCTYPE html>

<html ng-app="BaylySeed">

<head>
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>BaylySoft {{ pageTitle }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="fragment" content="!">
	<!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="{{ metaDescription }}">
	<meta name="keywords" content="{{ metaKeywords }}">
	<meta name="author" content="Ray Bayly">
	<link rel="icon" href="favicon.ico">

	<!-- Location for device icons such as Apple and Google-->
	<link rel="apple-touch-icon" href="apple-touch-icon.png">

	<!--Foundation Core CSS
	<link rel="stylesheet" href="http://cdn.jsdelivr.net/zurb/foundation-apps-1.1.0.min.css">-->

	<!--Foundation Icons-->
	<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet" />

	<!--Foundation Core JS-->
     <script src="http://cdn.jsdelivr.net/zurb/foundation-apps-1.1.0.min.js"></script>

	<!--Foundation Core Templates-->
	<script src="http://cdn.jsdelivr.net/zurb/foundation-apps-templates-1.1.0.min.js"></script>

	<!--Default Application css file-->
	<link rel="stylesheet" type="text/css" href="lib/css/app.min.css" media="all" />

</head>

<body>

    <!--begin Header-->
	<header id="header">
		<div class="grid-container">
		<div class="menu-group primary">
			<div class="menu-group-left">
				<ul class="menu-bar primary">
					<li><a class="navbar-brand" href="/">Bayly App Template</a></li>
					<li ng-class="{ active: isActive('Login')}"><a href="/">Home</a></li>
					<li ng-class="{ active: isActive('Register')}"><a href="/register">Register</a></li>
					<li ng-class="{ active: isActive('Events')}"><a href="/events-main">Events</a></li>
					<li ng-class="{ active: isActive('Products')}"><a href="/products">Products</a></li>
				</ul>
			</div>
			<div class="menu-group-right">
				<ul class="icon-left primary menu-bar">
					<li ng-class="{ active: isActive('Login')}">
						<a href="/login"><img zf-iconic="" icon="thumb" size="small" class="iconic-color-primary">Login</a>
					</li>
					<li ng-class="{ active: isActive('About')}">
						<a href="/about"><img zf-iconic="" icon="thumb" size="small" class="iconic-color-primary">About</a>
					</li>
				</ul>
			</div>
		</div>
		</div>
	</header>
	<!--end Header-->

	<!--begin Main Content-->
	<main id="content">
		<div ng-view></div>
	</main>
	<!--end Main Content-->

	<!--begin Footer-->
	<!-- Footer -->
	<footer id="footer">
		<div class="grid-container">
		<div class="grid-block wrap">
			<div class="large-6 medium-6 small-12 grid-block">
				<i class="fi-laptop"></i>
				<p>This is the Bayly Template Seed and Sample Application Using AngularJS and Foundation, SASS, Bourbon and Bitters.</p>
			</div>
			<div class="large-6 medium-6 small-12 grid-block">
				<i class="fi-html5"></i>
				<p>The Bayly Template is full of samples to utilize in helping build applications. All development is done in the source folder and the public folder is generated using gulp</p>
			</div>
		</div>
		</div>
	</footer>
	<!--end Footer-->
	<script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="//code.angularjs.org/1.2.20/angular.js"></script>
	<script src="//code.angularjs.org/1.2.20/angular-route.js"></script>
	<script src="//code.angularjs.org/1.2.13/angular-cookies.js"></script>
	<script src="com/app.js"></script>

</body>

</html>